.header {
  input[type="checkbox"] {
    outline: none;
  }

  .toggle-all {
    position: absolute;
    top: 8px;
    left: -18px;
    width: 70px;
    height: 40px;
    text-align: center;
    border: none;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset -3px 0px rgba(155, 126, 126, 0.03);

    &:before {
      content: "\276F";
      font-size: 22px;
      color: #e6e6e6;
      padding: 10px 27px 10px 27px;
    }

    &:checked::before {
      color: black;
    }
  }

  .new-todo-input {
    position: relative;
    margin: 0 0 0 40px;
    width: 93%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    color: inherit;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    padding: 16px 16px 16px 20px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -3px rgba(155, 126, 126, 0.03);

    &::-webkit-input-placeholder {
      font-style: italic;
      font-weight: 300;
      color: #e6e6e6;
    }

    &::-moz-placeholder {
      font-style: italic;
      font-weight: 300;
      color: #e6e6e6;
    }

    &::input-placeholder {
      font-style: italic;
      font-weight: 300;
      color: #e6e6e6;
    }
  }
}
