.content-none {
  display: none;
}
.todo-item {
  position: relative;

  &:hover .delete-btn {
    display: block;
  }

  .toggle-todo-input {
    text-align: center;
    width: 40px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;

    &:checked + .todo-content {
      background-image: url(../images/checkbox-todo-active.svg);
    }
  }

  .todo-content {
    padding: 15px 15px 15px 60px;
    display: block;
    font-size: 24px;
    line-height: 1.2;
    transition: color 0.4s;
    .edit-todo {
      padding: 15px 15px 15px 15px;
      width: 100%;
      border: 1px solid #999;
      font-size: 24px;
      line-height: 1.2;
      box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      margin: 0;
    }
  }

  .ischecked {
    color: #d9d9d9;
    text-decoration: line-through;
  }

  .toggle-todo-input + .todo-content {
    background-image: url(../images/checkbox-todo.svg);
    background-repeat: no-repeat;
    background-position: center left;
  }

  .delete-btn {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;

    &:after {
      content: "×";
    }

    &:hover {
      color: red;
    }
  }
}
